<div class="w-full h-screen">
  <div class="mt-14 p-20">
    <h1 class="text-4xl font-mono text-white">About Me</h1>
    <p class="mt-5 mx-5 text-white text-lg">I'm a web developer that focuses on the designs, functionalities and core features of web applications. My experience includes working with PHP, WordPress, Java and Laravel. In addition to fostering a pleasant environment around me, I am driven to learn new technologies, tools, and processes.  My main areas of interest are creating back-end and front-end apps with HTML, CSS, JavaScript, JQuery, PHP, ASP.Net, C#, Flask, Wordpress, and Laravel.
    </p>
  </div>

  <div class="p-20">
    <h1 class="text-4xl font-mono text-white">Experience</h1>
    <div>

    </div>
  </div>
</div>
